<div class="card-square">
    <div class="card">
        <div class="card-content">
            <div class="card-body">
                <div class="card-title">
                    <h5><a href="/assistiti/<%- id %>"><%- "Assistito #" + id %></a></h5>
                </div>
                <div class="card-subtitle">
                    <% if (dati) { %>
                    <p>id #<%- id %></p>
                    <b>codice fiscale:  <%- dati?.codiceFiscale ?? "-" %></b>
                    <% } %>
                    <% if (!dati) { %>
                        <!-- button to go to url /assistiti/<%- id %>/edit -->
                        <a href="/assistiti/<%- id %>" class="btn btn-primary">Carica dati da Blockchain</a>
                    <% } %>
                </div>
            </div>
            <div class="card-body">

            </div>
        </div>
    </div>
</div>
